<section class="hero" id="inicio">
  <div class="hero__grid"></div>

  <div class="hero__left">
    <p class="hero__tag">// portafolio v1.0 — 2026</p>
    <h1 class="hero__name"><span>Alan Venegas</span></h1>
    <p class="hero__role">
      {{ displayedRole }}<span class="hero__cursor">_</span>
    </p>
    <a (click)="scrollTo('contacto')" class="hero__btn">Contactar</a>
  </div>

  <div class="hero__right">
    <div class="hero__avatar-wrap">
      <div class="hero__corner hero__corner--tl"></div>
      <div class="hero__corner hero__corner--tr"></div>
      <div class="hero__corner hero__corner--bl"></div>
      s
      <div class="hero__corner hero__corner--br"></div>
      <div class="hero__avatar">
        <img src="assets/img/profile.jpg" alt="Tu Nombre" />
      </div>
    </div>
  </div>

  <div class="hero__line"></div>
</section>
